/* Global  */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white !important;
}

html{
  scroll-behavior: smooth;
}

:root{
  --primary: rgb(20, 20, 20);
}

/* Navbar */

nav{
  background-color: var(--primary);
}

nav .drop{
  background-color: var(--primary);
}

nav .dropItem:hover{
  color: var(--primary) !important;
}

nav a:hover{
  color: var(--primary) !important;
  background-color: whitesmoke;
  border-radius: .5rem;
  padding: .5rem;
  display: inline-block;
}

.login{
  margin-left: 5rem;
}

form{
  padding: 2rem;
}

.modal input{
  color: white !important;
}


/* Bmi */

.bmi{
  background-color: var(--primary);
}

.bmi input{
  width: 15rem;
  color: var(--primary) !important;
}

table, thead, td, th, tr{
  background-color: var(--primary) !important;
}

#table{
  width: 50vw;
}

/* Calories */

#calories{
  background-color: var(--primary);
}

/* About Us  */

#aboutUs{
  background-color: var(--primary);
}

.about{
  width: 50vw;
  padding: 5rem;
}

/* Contact Us  */

#contactUs{
  text-align: center;
  background-color: var(--primary);
}

input, select, option{
  color: var(--primary) !important;
}

textarea{
  color: var(--primary) !important;
}

/* Media Query */

@media screen and (max-width: 768px) {
  .about{
    width: 100vw;
  }
  .bmi{
    flex-direction: column;
  }
  .bmi input{
    width: 8rem;
  }
  .calories{
    flex-direction: column;
  }
  .calories input[type=number]{
    width: 8rem;
  }
}
